.alertPanel {
  max-width: 360px;
  position: absolute;
  top: 0;
  right: 10px;
}

.alert {
  margin: 10px auto;
  padding: 10px 20px;
  position: relative;
  border-radius: 3px;
  color: white;
}

@mixin alert($name, $bgColor) {
  .#{$name} {
    background-color: lighten($bgColor, 20);

    .close-alert {
      position: absolute;
      top: 10px;
      right: 10px;
      color: darken($bgColor, 5);
      cursor: pointer;

      &:hover {
        color: darken($bgColor, 8);
      }
    }
  }
}

@include alert(blue-alert, $blue);
@include alert(green-alert, $green);
@include alert(red-alert, $red);
@include alert(yellow-alert, $light-orange);