.btn {
  width: auto;
  max-height: 35px;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: 500;
  border: 0;
  outline: 0;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    opacity: 0.9;
  }
}

.btn-bold {
  font-weight: bold;
}

.btn-block {
  width: 100%;
}

.btn-round {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  i {
    padding-top: 2px;
  }
}

@each $name, $hex in $colors {
  .btn-#{$name} {
    background-color: clr($name);
    color: white;

    &:active {
      background-color: darken(clr($name), 10%);
    }
  }
}