.btn {
  width: auto;
  padding: 10px 20px;
  border-radius: 3px;
  border: 0;
  outline: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.btn-bold {
  font-weight: bold;
}

.btn-block {
  width: 100%;
}

@each $name, $hex in $colors {
  .btn-#{$name} {
    background-color: clr($name);
    color: white;

    &:active {
      background-color: darken(clr($name), 10%);
    }
  }
}