$left-menu: #252525;
$dark-text: #252525;
$dark: #A4A4A4;
$top: #F4F4F4;
$primary: #F1194B;
$orange: #cf7500;
$brown: #c1a57b;
$gray: #CFCFCF;
$light-gray: #F0F0F0;
$light-orange: #f0a500;
$red: #cd3f3e;
$green: #27aa80;

$lighten: 5;
$darken: 25;

$colors: (
        primary: (
                base: $primary,
                light: lighten($primary, $lighten),
                dark: darken($primary, $darken),
        ),
        dark: (
                base: $dark,
                light: lighten($dark, $lighten),
                darrk: darken($dark, $darken),
        ),
        orange: (
                base: $orange,
                light: lighten($orange, $lighten),
                dark: darken($orange, $darken),
        ),
        brown: (
                base: $brown,
                light: lighten($brown, $lighten),
                dark: darken($brown, $darken),
        ),
        lightgray: (
                base: $light-gray,
                light: lighten($light-gray, $lighten),
                dark: darken($light-gray, $darken)
        ),
        gray: (
                base: $gray,
                light: lighten($gray, $lighten),
                dark: darken($gray, $darken),
        ),
        light-orange: (
                base: $light-orange,
                light: lighten($light-orange, $lighten),
                dark: darken($light-orange, $darken),
        ),
        red: (
                base: $red,
                light: lighten($red, $lighten),
                dark: darken($red, $darken),
        ),
        green: (
                base: $green,
                light: lighten($green, $lighten),
                dark: darken($green, $darken),
        )
);

@function clr($base, $shade: base) {
  @return map-get(map-get($colors, $base), $shade);
}