<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ImageManager</title>
    <meta http-equiv="Content-Security-Policy" content="default-src * data: 'unsafe-eval' 'unsafe-inline' blob:"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/app.css">
</head>
<body>
<div class="contextmenu" id="contextmenu">
    <ul class="menu-options"></ul>
</div>
<div class="modal" id="countingLoadedFilesModal">
    <div class="content">
        <div class="title mb-15">Importación de archivos</div>
        <progress max="100" value="0" class="progress-orange" id="countingLoadedFilesProgress"></progress>
        <div class="d-flex justify-content-center mt-10" id="countingLoadedFilesVal"></div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-green btn-bold d-none mt-15" id="countingLoadedFilesContinueBtn"><i class="fas fa-check mr-5"></i> Continuar</button>
        </div>
    </div>
</div>
<div class="modal" id="usbTreeViewModal">
    <div class="content modal-50">
        <div class="close-modal" data-close="modal"><i class="fas fa-times fa-lg"></i></div>
        <div id="jsTreeView"></div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-purple btn-bold mt-20"><i class="fab fa-usb mr-5"></i>Procesar archivos</button>
        </div>
    </div>
</div>
<div class="modal" id="newDeviceModal">
    <div class="content w-fit">
        <div class="close-modal" data-close="modal"><i class="fas fa-times"></i></div>
        <div class="d-flex pr-15 mb-5">
            <i class="fab fa-usb fa-3x"></i>
            <h2 class="usb-title ml-25">Nuevo dispositivo encontrado</h2>
        </div>
        <div id="newDeviceModal-usbName" class="text-center mb-15">()</div>
        <button type="button" class="btn btn-block btn-purple" data-action="scanUSBBtn"><i class="fas fa-search mr-10"></i>Escanear</button>
    </div>
</div>
<div class="left-menu">
    <hr class="mb-20">
    <div>
        <div class="reloadTreeview">
            <span class="title">CARPETAS</span>
            <i class="fas fa-sync" data-action="reloadTreeView"></i>
        </div>
        <ul class="treeview ml-10" id="treeview"></ul>
    </div>
    <button type="button" class="btn btn-block btn-blue" data-action="loadFiles">
        <i class="fas fa-plus mr-5"></i>Añadir archivos
    </button>
</div>
<div class="openImage-container" id="openImage"></div>
<div class="main-container">
    <div class="image-container" id="imageContainer"></div>
</div>
<script src="../src/app.js"></script>
</body>
</html>